attrs==22.2.0
colorama==0.4.6
colour==0.1.5
contourpy==1.0.6
cycler==0.11.0
dtreeviz==1.4.1
exceptiongroup==1.1.0
fonttools==4.38.0
graphviz==0.20.1
iniconfig==2.0.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
packaging==22.0
pandas==1.5.2
Pillow==9.4.0
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
threadpoolctl==3.1.0
tomli==2.0.1
